<div class = "Container">
	<form>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email" type="text" name="email" placeholder="Email" ng-model = "email">
    </div>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="password" type="password"  name="password" placeholder="Password" ng-model = "password">
    </div>
    <br>
    <button onclick = "checkauthorization(email,password)" class = "btn btn-primary">SignIn</button>
  </form>
</div>